terraform/step_functions/precompute_workflow.json
{
  "Comment": "Precompute workflow - parallel report and pattern generation",
  "StartAt": "PrepareTickerList",
  "States": {
    "PrepareTickerList": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${region}:${account_id}:function:${get_ticker_list_function_name}",
      "Comment": "Query ticker_master for active DR symbols (dynamic list from database)",
      "ResultPath": "$.ticker_list",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "FanOutToWorkers"
    },

    "FanOutToWorkers": {
      "Type": "Map",
      "ItemsPath": "$.ticker_list.tickers",
      "MaxConcurrency": 46,
      "Parameters": {
        "ticker.$": "$$.Map.Item.Value",
        "execution_id.$": "$$.Execution.Name"
      },
      "Iterator": {
        "StartAt": "InvokeReportWorker",
        "States": {
          "InvokeReportWorker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${report_worker_function_arn}",
              "Payload": {
                "ticker.$": "$.ticker",
                "execution_id.$": "$.execution_id",
                "source": "step_functions_precompute"
              }
            },
            "ResultPath": "$.worker_result",
            "ResultSelector": {
              "Payload.$": "$.Payload"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.error",
                "Next": "HandleWorkerError"
              }
            ],
            "Next": "CheckWorkerSuccess"
          },
          "CheckWorkerSuccess": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.worker_result.Payload.status",
                "StringEquals": "success",
                "Next": "WorkerSucceeded"
              }
            ],
            "Default": "WorkerFailed"
          },
          "WorkerSucceeded": {
            "Type": "Pass",
            "Comment": "Worker completed successfully",
            "End": true
          },
          "WorkerFailed": {
            "Type": "Pass",
            "Comment": "Worker failed but allowing partial success",
            "Parameters": {
              "ticker.$": "$.ticker",
              "status": "failed",
              "error.$": "$.worker_result.Payload.error"
            },
            "End": true
          },
          "HandleWorkerError": {
            "Type": "Pass",
            "Comment": "Lambda invocation error - log error, allow partial success",
            "Parameters": {
              "ticker.$": "$.ticker",
              "status": "failed",
              "error.$": "$.error.Cause"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.fanout_results",
      "Next": "FanOutToPatternWorkers"
    },

    "FanOutToPatternWorkers": {
      "Type": "Map",
      "Comment": "Precompute chart patterns for all tickers (runs after reports)",
      "ItemsPath": "$.ticker_list.tickers",
      "MaxConcurrency": 10,
      "Parameters": {
        "ticker.$": "$$.Map.Item.Value",
        "execution_id.$": "$$.Execution.Name"
      },
      "Iterator": {
        "StartAt": "InvokePatternWorker",
        "States": {
          "InvokePatternWorker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${pattern_precompute_function_arn}",
              "Payload": {
                "ticker.$": "$.ticker",
                "execution_id.$": "$.execution_id"
              }
            },
            "ResultPath": "$.pattern_result",
            "ResultSelector": {
              "Payload.$": "$.Payload"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 2,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.error",
                "Next": "HandlePatternError"
              }
            ],
            "Next": "PatternWorkerDone"
          },
          "PatternWorkerDone": {
            "Type": "Pass",
            "Comment": "Pattern worker completed",
            "End": true
          },
          "HandlePatternError": {
            "Type": "Pass",
            "Comment": "Pattern detection error - log and continue",
            "Parameters": {
              "ticker.$": "$.ticker",
              "status": "failed",
              "error.$": "$.error.Cause"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.pattern_results",
      "Next": "RecordStartTime"
    },

    "RecordStartTime": {
      "Type": "Pass",
      "Result": {
        "started_at.$": "$$.State.EnteredTime"
      },
      "ResultPath": "$.timing",
      "Next": "AggregateResults"
    },

    "AggregateResults": {
      "Type": "Pass",
      "Comment": "Workflow completed. Reports and patterns precomputed for all tickers.",
      "Parameters": {
        "status": "completed",
        "execution_id.$": "$$.Execution.Name",
        "total_tickers": 46,
        "message": "Precompute workflow completed. Reports and chart patterns generated for all tickers.",
        "report_results.$": "$.fanout_results",
        "pattern_results.$": "$.pattern_results"
      },
      "End": true
    }
  }
}
